[submodule "ACE_Tekton_Operators"]
	path = ACE_Tekton_Operators
	url = https://github.com/isalkovic/ACE_Tekton_Operators
[submodule "aceSubmoduleAPP1-HTTPecho"]
	path = aceSubmoduleAPP1-HTTPecho
	url = https://github.com/isalkovic/aceSubmoduleAPP1-HTTPecho.git
[submodule "aceSubbmoduleAPP2-Database"]
	path = aceSubbmoduleAPP2-Database
	url = https://github.com/isalkovic/aceSubbmoduleAPP2-Database.git
